<html>
    <head>
        <title>Doctrine2 Workshop (with Symfony2)</title>

        <style type="text/css">
        <!--
        body { font-family: Verdana, Arial }
        -->
        </style> 
    </head>

    <body>
        <h1><a href="{{ path('homepage') }}">Doctrine Workshop</a></h1>

        {% block content %}{% endblock %}
    </body>
</html>
